<section class="about container">
  <h1 class="text-center mb-5">About</h1>
  <h2>Introduction</h2>
  <p>
    Gender equality aims to achieve genuine equality between men and women by
    planting the idea of respecting human rights deeply into society's soil.
    This can only be achieved when both genders are treated similarly and
    equally. Each individual of society dreams to have an equal rights and
    access to resources available at their disposal, but there is a lot if
    discrimination. This discrimination can be due to cultural, geographical
    differences, the colour of the person, social status and even gender. Gender
    inequality is the most prevalent discrimination. It is prevalent across the
    globe though it is not localize issue and is limited to only certain spheres
    of life. We can see many examples of gender bias, even in progressive
    societies.
  </p>
  <br />
  <p>
    The inequality in gender nowadays undermines people social structure by
    reducing the value of women. It is so alarming to know that people tend to
    devalue girls, females, woman by the world's unfair equal rights in terms of
    everything. Also, people actually wasting a tremendous human potential in
    the world and losing a lot of opportunity that may help our society to grow.
    Women are way more exposed to assault, threat or physical, verbal even
    digital attack than the men. This only prove that women only have fewer
    opportunities for economic involvement than their male counterparts. Thus,
    we would like to advocate the gender equality empowerment, for us to enable
    the full capabilities and opportunity for female or women around the world.
  </p>
  <br />

  <h2>Problems</h2>
  <p>
    Various countries, girls and women are discriminated in school because they
    know that the men are lot more capabilities when it comes of working after
    they. Their own family will only let their sons or males to attend school
    for they have the higher chance to be accepted in any kind of work that they
    wanted to be in, unlike on the women, will are very limited whenever,
    whatever, wherever they may in. Furthermore, women are being ignored when it
    comes in political, social leadership especially on decision making in
    political, economic and public life. And the other one is the unequal rights
    to economic resources, property ownership and financial services. This are
    just a few problems when talking about on gender equality.
  </p>
  <h5>
    Other issues of gender inequality of different countries around the globe:
  </h5>
  <br />
  <h5>1. The gender pay gap</h5>
  <p>
    - Some statistics shows that women are paid less than 80 percent than men.
    At some other cases, women are also discriminated with racism and resulted
    of uneven or poor salaries payment for their work.
  </p>
  <br />
  <h5>2. Gender disparities in agriculture</h5>
  <p>
    - Women have less access to important tools and resources such as
    fertilizer, seeds, training, and farm labor. Even when they have equal
    access to these resources, it does not always result in income equality.
    Women, as primary caregivers for children, face challenges in getting their
    goods to market, particularly in rural areas. Reduced harvests and access
    result in lower income, which is especially harmful so even though women
    tend to reinvest their income back into their families and communities. When
    women do not earn as much as men, everyone suffers.
  </p>
  <br />
  <h5>3. Lack of employment equality</h5>
  <p>
    - The division of labor is one of the causes of gender inequality in the
    workplace. Most societies have an ingrained belief that men are simply
    better suited to certain jobs. Most of the time, those are the
    highest-paying jobs. Women's income is reduced as a result of this
    discrimination. Women also bear the primary responsibility for unpaid labor,
    so even when they work full-time, they have extra work that is never
    compensated financially.
  </p>

  <h2>Objectives</h2>
  <p>
    Empowering women, girls will help the world to expand the economical growth,
    boost social development and establish more stable and just societies.
    Ensuring their rights and giving them opportunities to reach their full
    potential and essentials, but not only for attaining gender equality, but
    also for meeting a wide range of international development goals, also for
    this reason, they can contribute to the health and productivity of their
    families, communities, and countries and also in social and economical
    stability.
  </p>
</section>
