<section class="course">
<div class="container">
    <h1 class="text-center">Blogs</h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="../../assets/ge1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Overcoming barriers to women’s work in the Philippines</h5>
              <p class="card-text">The current status of women in the Philippines is both a cause for optimism and a reason to accelerate efforts for promoting better access to jobs for all women.</p>
              <a href="https://blogs.worldbank.org/eastasiapacific/overcoming-barriers-womens-work-philippines" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <img src="../../assets/ge2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gender equality is smart economics. Yet, its progress remains slow</h5>
              <p class="card-text">Women, Business and the Law 2022 finds that globally the pace of legal reform for womans economic …</p>
              <a href="https://blogs.worldbank.org/developmenttalk/gender-equality-smart-economics-yet-its-progress-remains-slow" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="../../assets/ge3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mapping the path to accelerate gender equality</h5>
              <p class="card-text">Women-led businesses were more likely to experience a decline in sales and profits during the pandemic and were more likely to close…</p>
              <a href="https://blogs.worldbank.org/developmenttalk/mapping-path-accelerate-gender-equality" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <img src="../../assets/ge4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Economic Cost of Devaluing Womens Work</h5>
              <p class="card-text">As much as half of the world’s work is unpaid.  And most of it is done by women...</p>
              <a href="https://blogs.imf.org/2019/10/15/the-economic-cost-of-devaluing-womens-work/" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="../../assets/assets/ge5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Women in Finance: An Economic Case for Gender Equality</h5>
              <p class="card-text">Women are underrepresented at all levels of the global financial system, from depositors and borrowers to bank board members and regulators…</p>
              <a href="https://blogs.worldbank.org/developmenttalk/mapping-path-accelerate-gender-equality" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <img src="../../assets/assets/ge6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How to do primary prevention work on gender-based violence during a pandemic?</h5>
              <p class="card-text">Preventing gender-based violence (GBV) is possible and feasible. The most effective...</p>
              <a href="https://blogs.worldbank.org/latinamerica/how-do-primary-prevention-work-gender-based-violence-during-pandemic" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
</div>
</section>