.navbar {
  background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.navbar-brand {
  font-weight: bold;
}
p {
  font-weight: bold;
}
